Checks: "
  -*,
  readability-*,
  performance-*,
  portability-*,
  misc-*,
  bugprone-*,
  clang-analyzer-*,
  "

CheckOptions:
  - { key: readability-identifier-naming.EnumConstantCase, value: UPPER_CASE }
  - { key: readability-identifier-naming.EnumCase, value: UPPER_CASE }
  - { key: readability-identifier-naming.UnionCase, value: UPPER_CASE }

  - { key: readability-identifier-naming.VariableCase, value: lower_case }
  - { key: readability-identifier-naming.ConstantCase, value: UPPER_CASE }
  - { key: readability-identifier-naming.GlobalConstantCase, value: UPPER_CASE }
  - { key: readability-identifier-naming.GlobalVariableCase, value: lower_case }

  - { key: readability-identifier-naming.FunctionCase, value: lower_case }
