---
UseTab: Always
TabWidth: 4
IndentWidth: 4
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: true
SpaceAfterCStyleCast: false
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
ColumnLimit: 90
IndentCaseLabels: true
AllowShortEnumsOnASingleLine: false
---

